* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  padding: 20px;
  object-fit: contain;
  width: 100px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
